@media (prefers-color-scheme: dark) {
body {
  background-image: url('images/nightbliss.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
ul {
  vertical-align: top;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 27, 181, 0.4);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
li {
  float: left;
  display: block;
  padding: 8px
}
html, body, div {
    color: white;
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    font-family: Pixel Emulator;
    vertical-align:baseline;
}
li a {
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: color 0.5s, background-color 0.5s;
}
li a:hover {
	color: black;
	background-color: #FFFFFF;
    border-radius: 5px;
	animation: fadeIn 1s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}